body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(7, 7, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.devfinder-container{
    width: 700px;
    max-width: 100%;
    /* border: 1px solid red; */
    /* min-height: 300px; */
    position: relative;
    top: 0;
    left: 0;
}

.head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-bottom: 2rem;
}
.head > h2{
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
}
.head button{
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    outline: none;
    border: none;
}

.search-bar{
    /* border: 1px solid red; */
    width: 100%;
    position: relative;
    padding:  10px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: rgb(19, 19, 28);
    border-radius: 7px;
}

.search-bar input{
    width: 100%;
    padding: 5px;
    /* border: 1px solid red; */
    outline: none;
    background-color: transparent;
    border: none;
    color: #f1f1f1;
}

.search-bar button{
    /* width: 10%; */
    padding: 8px 15px;
    background-color: rgb(26, 65, 222);
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.display-area{
    width: 100%;
    padding: 1.5rem;
    background-color: rgb(19, 19, 28);
    margin-top: 2rem;
    border-radius: 7px;
}
.profile-head{
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 2rem;
}

.info h2{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 7px;
} 
.profile-head p{
    font-size: 15px;
}
.username{
    color: rgb(33, 70, 233);
    margin-bottom: 16px;
}
.bio{
    color: grey;
    text-transform: capitalize;
}

.join-date{
    margin-left: auto;
    color: grey;
}
.profile-head img{
    width: 80px;
    height: 80px;
    /* mix-blend-mode: screen; */
    border-radius: 50%;
} 

.welcome-msg{
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1px;
}

#error{
    color: #f1f1f1;
    margin-top: 10px;
    margin-left: 4px;
}

.profile-stat{
    /* border: 1px solid red; */
    width: calc(100% - 110px);
    max-width: 100%;
    margin-left: auto;
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 1rem 1.7rem;
    border-radius: 7px;
    background-color: rgb(7, 7, 18);
    gap: 1rem;
}

.stat-box {
    width: 100%;
    /* border: 1px solid red; */
    /* text-align: center; */
}
.stat-box  p{
    color: #e1dfdf;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 9px;
}
.profile-stat h3{
    color: #fff;
    font-size: 1rem;
}

.more-info{
    /* border: 1px solid red; */
    width: calc(100% - 110px);
    margin-left: auto;
    margin-top: 2.6rem;
    margin-bottom: 1.2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.2rem;
}

.more-info-box > p{
    /* border: 1px solid red; */
    color: #e6e4e4;
    font-size: 15px;
    font-weight: 300;
}

@media screen and (max-width:700px) {
   .profile-stat{
    width: 100%;
   }
   .more-info{
    width: 100%;
   }
   p{
    font-size: 14px;
   }
}

@media screen and (max-width:475px) {
    .more-info{
        grid-template-columns: 1fr;
    }
    .stat-box p{
        font-size: 12px;
    }
    .stat-box h3{
        font-size: 14px;
    }
}

button{
    cursor: pointer;
}